rmc*.e*
rmc*.o*
gr_initial.txt
vk_initial.txt
_energy_function.txt
_gr_update.txt
_model_update.txt
_time_elapsed.txt
_vk_update.txt
energy_function.txt
gr_update.txt
model_update.txt
time_elapsed*
vk_update.txt

rmc_10%
rmc_100%
rmc_20%
rmc_30%
rmc_40%
rmc_50%
rmc_60%
rmc_70%
rmc_80%
rmc_90%
vk_inital.txt
vk_initial10%.txt
vk_initial100%.txt
vk_initial20%.txt
vk_initial30%.txt
vk_initial40%.txt
vk_initial50%.txt
vk_initial60%.txt
vk_initial70%.txt
vk_initial80%.txt
vk_initial90%.txt
