*.mod
*.o
*.tif
*.dump
spec/andy_test_code_20130618/test/Si110_im*
060911_rmc_eam_gr_vk_t4/femsim
060911_rmc_eam_gr_vk_t4/rmc
060911_rmc_eam_gr_vk_t4/temp.f90
060911_rmc_eam_gr_vk_t4/ran2__genmod.f90
testing_dir/
