asq/xyz_files/
asq/vk/
asq/vor_errors_and_outs/
asq/vor_results/

c300m10/xyz_files/
c300m10/vk/
c300m10/vor_errors_and_outs/
c300m10/vor_results/

c300m60/xyz_files/
c300m60/vk/
c300m60/vor_errors_and_outs/
c300m60/vor_results/

c435m2/xyz_files/
c435m2/vk/
c435m2/vor_errors_and_outs/
c435m2/vor_results/

eamo/xyz_files/
eamo/vk/
eamo/vor_errors_and_outs/
eamo/vor_results/

allerrors.tmp
