alsm_fcc_ft.gfx
alsm_fcc_pot.gfx
fft_test2
fft_test3
fft_test_ft.gfx
m3dfft
m3dfft2
pot_test
swap_test_ft.gfx
test_ft.gfx
test_pot.gfx
zr_big_ft.gfx
zr_big_pot.gfx
zr_postrmc_ft.gfx
zr_postrmc_pot.gfx
t2o__genmod.f90
